* {
  margin: 5px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
img{
  padding: 3%;
  margin-left: 0px;
  float: left;
}

h1 {
  font-size: 50px;
}

body {
    font-family:'Times New Roman', Times, serif;
    background: #000 url('img/fondo.jpg');
    color: #030303;
    background-size: cover;
    background-attachment: fixed;
    }
    table thead {
    background:#1fa7b1;
    color:rgb(255, 255, 255);
    }

    #boton {
        background-color: #049e32;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 20px;
        border-radius: 5px;
      }
    #boton {
        -webkit-transition-duration: 0.5s; 
        transition-duration: 0.4s;
      }
    #boton:hover {
        background-color: #0066ff; 
        color: rgb(255, 255, 255);
      }

    .contenedor-texto .titulo {
        font-size: 50px;
        font-weight: normal;
        margin-bottom: 40px;
   }
   
    .contenedor-texto .opciones {
        font-weight: bold;
        color: #3e0a41;
        font-style: normal;
   }
   
    .contenedor-texto p {
        margin-bottom: 40px;
        line-height: 36px;
   }